# Does MIP scale?

Now that I have translated IBM's problem to the Google OR framework, is it going to fall over at some point.

This example uses a file of size 10,000 compared with the original example's 27. Where appropriate, I will scale up with a factor.

| Run | Size | Time (s)  | Value  |
|-----|------|-----------|--------|
|   1 |  27  |  0.9      |    603 |
|   2 |  50  |  1.8      |  1 283 |
|   3 |  75  |  0.25     |  1 975 | 
|   4 |  85  |  0.55     |  2 227 |
|   5 |  90  |   --      |  --    |

What you see above is failure to complete at size 90.

In [1]:
from ortools.linear_solver import pywraplp
import time
from __future__ import print_function

n_obs_new = 75

We have four product types:

  * car loan
  * savings
  * mortgage
  * pension
  
Each product has a different `productValue`: the revenue that can be obtained for the product on average. To get a fair representation of marketing across the various offers, each is allocated a `budgetShare`.

In [2]:
products = ['Car loan', 'Savings', 'Mortgage', 'Pension']
productValue = [100, 200, 300, 400]
budgetShare = [0.6, 0.1, 0.2, 0.1]

  
Each product these can be offered over one of the following channels:

  * gift
  * newsletter
  * seminar
  
Each of these channels has different costs, and each has a different _influence factor_. We use the influence to weight the estimated value of the response accordingly.

In [3]:
channels = ['gift', 'newsletter', 'seminar']
cost = [20, 15, 23]
factor = [0.2, 0.05, 0.3]

Budget needs to be less than the available marketing budget of $ \$500$.

In [4]:
availableBudget = 500

Read in the offers data, originally from IBM and massaged. It gives the probability of taking an offer by each customer.

Rather than using the full 10,000, test that it works on a smaller size.

In [5]:
import pandas

product_probs_orig = pandas.read_csv('offers_ibm_pivot.csv')
n_obs_original = product_probs_orig.shape[0]

product_probs = pandas.read_csv('sample_data_10000.csv')
# product_probs = product_probs[product_probs.index > product_probs.shape[0] - n_obs_new]
product_probs = product_probs[product_probs.index < n_obs_new]
n_obs = product_probs.shape[0]

adjustment_factor = n_obs/n_obs_original
availableBudget = availableBudget*adjustment_factor

product_probs.rename(columns={'Unnamed: 0': 'customerid'}, inplace=True)
product_probs.head()

   customerid              name  Car loan   Savings  Mortgage   Pension
0           0    Matthew Harvey  0.000000  0.000000  0.000000  0.000000
1           1     Joshua Wilcox  0.000000  0.000000  0.179932  0.000000
2           2   Yolanda Vasquez  0.330731  0.580556  0.000000  0.000000
3           3  Jessica Alvarado  0.000000  0.630242  0.509746  0.000000
4           4  Gregory Martinez  0.000000  0.320511  0.000000  0.288832

Instantiate the solver as an MIP problem.

In [6]:
solver = pywraplp.Solver('SolveCampaignProblem', pywraplp.Solver.CBC_MIXED_INTEGER_PROGRAMMING)

Define the number of customers, the number of offers and the number of channel as $x_{ijk}$.

In [7]:
num_customers = product_probs.shape[0]
num_products = len(products)
num_channels = len(channels)

x = {}

for i in range(num_customers):
    for j in range(num_products):
        for k in range(num_channels):
            x[i, j, k] = solver.IntVar(0, 1, 'x[%i,%i,%i]' % (i, j, k))

### Set up the constraints

  1. Offer only one product per customer.
  2. Do not exceed the budget.
  3. Balance the offers/customers among products.

In [8]:
    ## offer only one product per customer
    for i in range(num_customers):
        solver.Add(solver.Sum([x[i, j, k] 
                               for j in range(num_products)
                               for k in range(num_channels)
                              ]) <= 1) 

    ## Do not exceed the budget
    solver.Add(solver.Sum([x[i, j, k]*cost[k]
                           for i in range(num_customers)
                           for j in range(num_products)
                           for k in range(num_channels)
                          ]) <= availableBudget)
    
    ## Balance the offers/customers among products
 #   for j in range(num_products):
 #       solver.Add(solver.Sum([x[i, j, k]
 #                              for i in range(num_customers)
 #                              for k in range(num_channels)
 #           ]) <= budgetShare[j]*solver.Sum([x[i, j, k]
 #                                           for i in range(num_customers)
 #                                           for j in range(num_products)
 #                                           for k in range(num_channels)
 #                                           ]) )
 
# minimums for channel
    channel_min = 5

    for k in range(num_channels):
        solver.Add(solver.Sum([x[i, j, k]
                               for i in range(num_customers)
                               for j in range(num_products)
        ]) >= channel_min)
    
    product_min = 8
    
    for j in range(num_products):
        solver.Add(solver.Sum([x[i, j, k]
                               for i in range(num_customers)
                               for k in range(num_channels)
        ]) >= product_min)

### Express the objective

We want to maximize revenue $R$. Here $x_{ijk}$ denotes whether customer $i$ receives an offer for product $j$ over channel $k$, $f_k$ denotes the channel adjustment factor, $v_j$ the product value and $p_{ij}$ the probability that customer $i$ takes up product $j$.

$ \max R = \sum_{ijk} x_{ijk} \times f_k \times v_j \times p_{ij}$

In [9]:
#    solver.Minimize(solver.Sum([cost[i][j] * x[i, j] for i in range(num_workers)
#                                                     for j in range(num_tasks)]))

solver.Maximize(solver.Sum([x[i, j, k]*factor[k]*productValue[j]*product_probs[products[j]].iloc[i]
                           for i in range(num_customers)
                           for j in range(num_products)
                           for k in range(num_channels)]))

### Invoke the solver

In [10]:
# Invoke the solver
t = time.process_time()
sol = solver.Solve()
elapsed_time = time.process_time() - t

Print out the solution. We can print out more information about the constraints.

In [11]:
report = [(channels[k], products[j], product_probs.loc[i, 'name'], x[i, j, k].solution_value()*cost[k],
          x[i, j, k].solution_value()*factor[k]*productValue[j]*product_probs[products[j]].iloc[i]) 
          for i in range(num_customers) 
          for j in range(num_products) 
          for k in range(num_channels)  if x[i, j, k].solution_value() > 0]

report_bd = pandas.DataFrame(report, columns=['channel', 'product', 'customer', 'cost', 'revenue'])

print('Total revenue = %d' % (solver.Objective().Value()))
print('Total budget  = %d' % (report_bd['cost'].sum()) )
print('Time = ', elapsed_time, " seconds.")
display(report_bd)

Total revenue = 3114
Total budget  = 1386
Time =  0.27495  seconds.

       channel   product             customer  cost    revenue
0   newsletter  Car loan        Joshua Wilcox  15.0   0.000000
1      seminar   Savings      Yolanda Vasquez  23.0  34.833389
2      seminar  Mortgage     Jessica Alvarado  23.0  45.877099
3      seminar   Pension     Gregory Martinez  23.0  34.659849
4      seminar   Pension      Kathryn Maxwell  23.0  71.253490
5      seminar  Mortgage          Leah Nelson  23.0  57.169339
6   newsletter  Car loan         Rebecca Ross  15.0   0.000000
7      seminar   Pension       Angela Sanchez  23.0  75.004685
8      seminar  Mortgage         Michelle Roy  23.0  68.208093
9      seminar   Savings          David Lewis  23.0  33.735030
10     seminar   Pension        Brandy Murphy  23.0  86.160881
11  newsletter  Car loan         Jillian Cook  15.0   0.000000
12     seminar  Mortgage          Alison Chen  23.0  38.122278
13     seminar   Savings          Brent Baker  23.0  40.085187
14     seminar   Savings     Justin Gutierrez  23.0  46.545929
15     seminar   Pension       Becky Mccarthy  23.0  80.132844
16     seminar   Pension        Douglas Marsh  23.0  36.024375
17     seminar  Mortgage      Tammy Hernandez  23.0  43.462867
18        gift   Pension        Kristin Lewis  20.0  19.414911
19     seminar  Mortgage  Christopher Wallace  23.0  42.801506
20  newsletter  Car loan       Jessica Daniel  15.0   0.000000
21     seminar   Savings    Alexandria Barton  23.0  49.422637
22     seminar  Mortgage        Brian Gilbert  23.0  39.897057
23     seminar   Savings       Corey Mckinney  23.0  38.585190
24        gift  Car loan   Charles Harvey DDS  20.0  15.519541
25     seminar   Savings       Anthony Barron  23.0  47.317249
26     seminar  Mortgage        Daniel Bowman  23.0  44.877697
27     seminar  Mortgage           David Cruz  23.0  60.449040
28     seminar   Pension     Chelsea Gonzalez  23.0  86.269058
29     seminar   Pension         Bonnie Baker  23.0  87.462777
..         ...       ...                  ...   ...        ...
33     seminar   Pension          Alyssa Hunt  23.0  68.633519
34     seminar  Mortgage    Claudia Butler MD  23.0  33.050282
35  newsletter  Car loan         Sara Wallace  15.0   2.387930
36     seminar   Pension         Carrie Jones  23.0  65.824026
37     seminar  Mortgage        Heidi Sanchez  23.0  75.941364
38     seminar   Pension        Kathryn Bauer  23.0  86.131077
39     seminar   Savings        William Boone  23.0  35.286422
40     seminar   Pension        Scott Burgess  23.0  95.358096
41        gift  Mortgage           John Clark  20.0  18.570411
42     seminar  Mortgage             Bryan Yu  23.0  54.771049
43     seminar   Pension    Jacqueline Gibson  23.0  42.533006
44     seminar  Mortgage     Samantha Pacheco  23.0  31.622371
45     seminar   Pension          Shawn Davis  23.0  77.860085
46     seminar   Pension       Melanie Warren  23.0  94.276990
47     seminar   Pension        Kevin Edwards  23.0  81.305081
48     seminar   Pension       Geoffrey Woods  23.0  84.934757
49     seminar   Pension           Adam Woods  23.0  93.263447
50        gift  Car loan         Marcus Brock  20.0  14.254068
51     seminar   Savings   Christopher Walton  23.0  31.136139
52     seminar  Mortgage        Michael Kelly  23.0  44.883328
53     seminar   Savings        Pamela Lawson  23.0  43.617944
54     seminar  Mortgage       Christy Garcia  23.0  56.914790
55        gift   Pension          Kevin Price  20.0  17.790143
56     seminar  Mortgage           Jacob Hall  23.0  79.399484
57     seminar   Savings        Jillian Young  23.0  31.323559
58     seminar   Pension           Lisa Young  23.0  82.020958
59     seminar   Pension         Tammie Garza  23.0  89.697163
60     seminar   Pension          Scott Poole  23.0  68.452285
61     seminar   Pension       Barbara Morris  23.0  57.428408
62  newsletter  Car loan       Jennifer Bates  15.0   1.654836

[63 rows x 5 columns]

In [12]:
report_bd.groupby(['channel', 'product']).count()

                     customer  cost  revenue
channel    product
gift       Car loan         2     2        2
           Mortgage         1     1        1
           Pension          2     2        2
newsletter Car loan         6     6        6
seminar    Mortgage        16    16       16
           Pension         23    23       23
           Savings         13    13       13